# Data processing
pandas
numpy

# API requests
requests

## Data Sources
# Trend analysis
pytrends

# Yahoo Financial data
yfinance

# Streaming
kafka-python

# Distributed processing
pyspark

# Workflow orchestration
apache-airflow

# Database
pymongo

# Cloud
boto3

# Environment management
python-dotenv